<div class='wrapper'>
  <div class="main-page">
    <div class="img-header">
      <%= image_tag('mysize_tesla.svg') %>
    </div>

    <div class="product">
      <div class="header-wrapper">
        <h1 class="uniform-header">Hey, your uniform sizes are:</h1>
      </div>

      <div class="table">
        <% @arr_res.each_with_index{|x,index| %>
            <div class="category-row">
              <div class="product-item category-name"><%=x[:category]%></div>
                <%x[:products].each do |product| %>
                  <div class="product-item">
                      <div class="title"><%= product[:title]%></div>
                      <div class="size"><%= product[:size]%></div>
                   </div>
                <%end%>
            </div>
        <%} %>
      </div>

      <div class="submit-container">
        <textarea id="textareaID" placeholder="Feedback…"></textarea>
         <div class="done-btn">SUBMIT FORM</div>
      </div>
      
    </div>
  </div>
  <%= image_tag('tesla-bg.png') %>

</div>






<script>

    window.onload = () => {

        document.querySelector('.done-btn').addEventListener('click', () => {
     


            let feedback = document.getElementById("textareaID").value


            let data = {external_id: "<%= @external_id %>", feedback: feedback, user_id: <%= @user_id %>}
            let userResultText = JSON.stringify(data);
            fetch('/user_profile', {
                headers: {
                    'Content-Type': 'application/json'
                }, method: 'post', body: userResultText
            }).then(data => console.log(data));

            window.location = "/thank_you"
        });

    }
</script>